* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: black;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-family: "Dancing Script", cursive !important;
  font-family: "Hubballi", cursive !important;
  overflow: hidden;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
.navbar-brand span {
  color: red;
}
.homebtn {
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
}
.list {
  margin-left: 50%;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 800;
}
.nav-link:hover {
  color: red !important;
  text-decoration: underline;
}
.content {
  height: 100vh;
  width: 100%;
  background-image: url(../img/homepizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.content-text {
  padding-top: 15%;
}
.welcoment {
  font-size: 8rem;
  font-weight: 800;
  color: black;
  /* background: rgb(252, 235, 235); */
}
.welcoment span {
  font-family: "Dancing Script", cursive;
  font-size: 10rem;
}
.spn1 {
  color: red;
}
.wlc {
  font-size: 4rem;
  color: white;
  font-weight: 800;
}
.about-us {
  height: 92vh;
  width: 100%;
  overflow-y: hidden;
}

.pizzagif {
  height: 19cm;
}
hr {
  color: rgb(255, 0, 0);
}
.about-us h1 {
  font-size: 3rem;
  font-weight: 800;
}
.values {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}
.values p {
  padding-top: 10%;
}
.values h4 {
  font-weight: 800;
  font-size: 2.8rem;
  color: red;
  padding-top: 5%;
}
.valist {
  font-size: 1.9rem;
  font-weight: 600;
  list-style: none;
}
.menu {
  height: 92vh;
  overflow-y: hidden;
}
.menu h1 {
  font-size: 3rem;
  font-weight: 800;
}
.card{
  background-color: black;
  border: 3px solid white;
  height: 40rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.card h4{
  font-size: 1.5rem;
  font-weight: 800;
}
.item img{
  height: 20rem;
}
.contact{
  font-size: 1.2rem;
  font-weight: 600;
}
.contact h5{
  font-size: 1.5rem;
  font-weight: 700;
}
.copyright{
  font-size: 1rem;
}
.icons{
  color: red;
}
.ordernow{
  height: 92vh;
}
.ordernow h1 {
  font-size: 3rem;
  font-weight: 800;
}
label{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8px 0px;
  padding-left: 20px;
}
select{
  height: 1.2cm;
  width: 10rem;
  
}
form{
  border: 3px solid white;
  border-radius: 10px;
  height: 80vh;
  width: 80%;
  margin-left: 20px;
}
.placeorder{
  font-size: 1.2rem;
  font-weight: 800;
  width: 10cm;
  margin-top: 30px;
  margin-left: 25%;
   
}
.ordertable{
  font-size: 1.5rem;
  font-weight: 600;
  color: white !important;
}
.delform{
  margin-top: 10%;
  height: 7cm;
}